G:\oracle\product\11.2.0\client_1\BIN\loadjava2.bat -u coredata/z3U0kCdbdN@stxdevdb.sandata.com:1526:sdbdev1 -force -v -r -t -debug -stdout -verbose H:\projects\Sandata\LAB\dev\george.java\Services\Data\SQL\account_manager\allergy\AmAllergyLkup.java
G:\oracle\product\11.2.0\client_1\BIN\loadjava2.bat -u coredata/z3U0kCdbdN@stxdevdb.sandata.com:1526:sdbdev1 -force -v -r -t -debug -stdout -verbose H:\projects\Sandata\LAB\dev\george.java\Services\Data\SQL\account_manager\dme_and_supply\AmDmeAndSupplyLkup.java
G:\oracle\product\11.2.0\client_1\BIN\loadjava2.bat -u coredata/z3U0kCdbdN@stxdevdb.sandata.com:1526:sdbdev1 -force -v -r -t -debug -stdout -verbose H:\projects\Sandata\LAB\dev\george.java\Services\Data\SQL\account_manager\nutritional_requirements\AmNutrRqmtLkup.java
G:\oracle\product\11.2.0\client_1\BIN\loadjava2.bat -u coredata/z3U0kCdbdN@stxdevdb.sandata.com:1526:sdbdev1 -force -v -r -t -debug -stdout -verbose H:\projects\Sandata\LAB\dev\database\OracleCommons\target\sandata-oracle-commons-1.0.jar
